.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #4633d7;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

.header {
	width: 100%;
	height: 50px;
	padding: 10px;
	background-color: rgb(15, 15, 90);
	display: flex;
	justify-content:space-between;
	align-items: center;
}
.header h1 {
	color: white;
}
.header__nav {
	display: flex;
}

.header__nav a {
	color: white;
	display: inline-block;
	padding: 5px 15px;
}
.header__nav a:hover {
	color: wheat;
}

.login {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;
}
.login h2 {
	
}
.login__form {
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;
	margin: 20px 0px 0px 0px;
	width: 300px;
}

input {
	width: 100%;
	margin: 0px 0px 10px 0px;
	padding: 5px 10px;
	font-size: 15px;
}

button {
	width: 100%;
	padding: 3px 10px;
	margin: 0px 0px 3px 0px;
	font-weight: 600;
	text-transform: uppercase;
	cursor: pointer;
}

select {
	width: 50px;
	height: 100%;
	height: 33px;
}

.profile {
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;
}

.forms {
	margin: 0 auto;
	/*max-width: 980px;*/
	width: 100%;
}

.forms__content {
	max-width: 500px;
	width: 100%;
	margin: 0 auto;
	padding: 25px 0px;

}

.forms__header {
	background-color: rgb(243, 243, 243);
	padding: 10px 20px;
	display: flex;
	justify-content:center;
	align-items: center;
}
.forms__header a {
	padding: 3px 10px;
	margin: 0 5px;
}

.skills {
	padding: 10px 0px 20px 0px;
	margin: 0px 0px 20px 0px;
	border-bottom: 3px solid #999;
}
.skills__map {
	display: flex;
	flex-wrap: wrap;
	padding: 0px 0px 10px 0px;
	border-bottom: 1px solid #999;
}
.skills__item {
	display: inline-block;
	padding: 5px;
	margin: 2px;
	background-color: #4633d7;
	color: white;
	cursor: pointer;
}
.skills__item button, .skills__list-item button, .edu__item button {
	height: auto;
	width: auto;
	background-color: transparent;
	border: none;
	color: white;
	margin: 0px 0px 0px 5px;
	padding: 3px;
}
.skills__list-item button, .edu__item button {
	color: black;
}
.skills__list {
	margin: 10px 0px;
	display: flex;
	flex-wrap: wrap;
}
.skills__list p {
	display: inline-block;
	padding: 0 5px;
	margin: 2px;
	background-color: rgb(240, 240, 240);
}
.skills__form-line {
	display: flex;
}
.skills__form-save, .edu__form-save, .about__form-save {
	background-color: #4633d7;
	margin: 10px 0px 0px 0px;
	color: white;
}


.edu h3 {
	margin: 0px 0px 15px 0px;
}

.edu__form-line {
	margin: 3px 0px 0px 0px;
}

.edu__info {
	margin: 20px 0px 0px 0px;
}

.edu__item{
	position: relative;
	padding: 10px;
	margin: 0px 0px 5px 0px;
	background-color: rgb(205, 255, 205);
	color: black;
	border: 3px solid white 
}
.edu__item-add {
	background-color: whitesmoke;
}

.edu__item button {
	position: absolute;
	top: 10px;
	right: 10px;
}

.edu__item p {
	margin: 0px 0px 10px 0px;
}

.notice {
	display: inline-block;
	padding: 10px;
	background-color: rgb(255, 241, 241);
	color: #333;
	font-weight: 700;
}
.about__photo {
	display: flex;
	justify-content:center;
}
.about__photo-col {
	flex: 0 0 50%;
	position: relative;
}
.about__photo-col_inp {
	width: fit-content;
	padding: 5px 10px;
	margin: 15px 0;
	position: relative;
	border: 1px solid blue;
	background-color: blue;
	border-radius: 20px;
	color: white;
	font-weight: bold;
}
.about__photo-col img {
	max-width: 80%;
}
.about__photo-col_inp input {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.about__photo-col_inp label {
	color: inherit;
}
.about .buttons {
	position: absolute;
	top: 10px;
	right: 20%;
}
.about__photo button {
	background-color: rgba(0, 0, 255, 0.466);
	border: none;
	height: 26px;
	border-radius: 13px;
	width: fit-content;
	color: white;
	font-weight: bold;
	margin: 0px 5px 0px 0px;
}
.about__photo button:hover {
	background-color: blue;
}

.about__form-state {
	display: inline-block;
	margin: 0px 0px 10px 0px;
	padding: 10px;
	color: #333;
	font-weight: 700;
	background-color: rgb(205, 255, 205);
}

.about__form-save {
	margin: 10px 0px;
}

.profile {
	padding: 25px 0;

}
.profile h2 {
	text-align: left;
	margin: 0px 0px 15px 0px;
}
.info {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}
.profile__info h3, .profile__edu h3, .profile__exp h3, .profile__skills h3 {
	margin: 10px 0px 10px 0px;
	text-align: left;
	display: inline-block;
	padding: 10px;
	background-color: rgb(233, 255, 233);

}
.profile__edu, .profile__exp, .profile__info {
	max-width: 500px;
	width: 100%;
	padding: 10px 0;
}

.profile__edu-column, .profile__exp-column {
	padding: 10px;
	margin: 0px 0px 10px 0px;
	border-bottom: 1px solid #999;
}
.info__line {
	display: flex;
	justify-content:center;
	align-items: center;
	max-width: 500px;
	width: 100%;
}
.info__name {
	width: 150px;
	padding: 5px 10px 5px 0;
	font-weight: 700;
}
.info__value {
	width: 100%;
	padding: 5px 10px;
}

.profile__skills {
	max-width: 500px;
	width: 100%;
}

.profile__skills-info {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.profile__skills-info .skills {
	display: flex;
	padding: 10px;
	justify-content:center;
	align-items: center;
	font-size: 18px;
	font-weight: 600;
	border: none;
}

.profile__skills-info .skills__name,
.profile__skills-info .skills__value {
	display: inline-block;
}

.profile__skills-info .skills__name {
	margin: 0px 5px 0px 0px;
}


/*_______________________________________________________________________________*/
/*TEMPLATES*/

.templates {
	background-color: rgb(226, 226, 226);
	padding: 20px 0;
}

@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
.template {
	margin: 20px auto 0px auto;
	width: 595px;
	height: 842px;
	background-color: white;
}
/*_______________________________________________________________________________*/
/*FIRST*/

.templateFirst {
	display: flex;
	font-size: 9px;
	color: #333;
	font-family: "Inter", sans-serif;
	border-bottom: 16px solid #EFB815;
}

.templateFirst .sidebar {
	width: 199px;
}

.templateFirst .sidebar__info {
	position: relative;
}

.templateFirst .sidebar__info::before {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 37px;
	height: 100%;
	background-color: #F1BB1A;
	z-index: 0;
}

.templateFirst .info__img {
	margin: 50px 20px 0 57px;
	width: 122px;
	height: 122px;
	border-radius: 50%;
	object-fit: cover;
	overflow: hidden;
}

.templateFirst .info__img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.templateFirst .info__wrapper {
	margin: 35px 0px 0px 0px;
	width: 100%;
}

.templateFirst .info__line {
	display: flex;
	width: 100%;
	align-items: center;
}

.templateFirst .info__icon {
	width: 37px;
	height: 13px;
	object-fit: contain;
	z-index: 2;

}
.templateFirst .info__icon img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.templateFirst .info__descr {
	flex-grow: 1;
	padding: 0 10px;
	margin: 0px 0px 13px 0px;
}
.templateFirst .info__descr h3 {
	margin: 0px 0px 4px 0px;
}

.templateFirst .skills {
	padding: 0px 0px 0px 37px;
	margin: 44px 0px;
	border: none;
}

.templateFirst .skills__wrapper h2 {
	margin: 0px 0px 23px 0px;
	font-size: 13px;
	letter-spacing: 0.15em;
	text-transform: uppercase;
	font-weight: bold;
	color: #242732;
}
.templateFirst .skills__wrapper {
	margin: 0px 0px 32px 0px;
}
.templateFirst .skills__line {
	margin: 0px 0px 15px 0px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.templateFirst .skills__name {
	padding: 0px 2px 0px 0px;
	font-style: italic;
	font-weight: 500;
	font-size: 10px;
	letter-spacing: 0.05em;
	width: 60px;
	line-break: auto;
	word-wrap: break-word;
}
.templateFirst .skills__value {
	position: relative;
	width: 92px;
	height: 4px;
	background-color: rgba(80, 46, 46, 0.2);
	margin: 0px 6px 0px 0px;
}
.templateFirst .skills__range {
	position: absolute;
	content: '';
	height: 100%;
	/*width: 80%;*/
	left: 0;
	top: 0;
	background-color: #333;
}

.templateFirst .main{
	display: flex;
	flex-direction: column;
	width: 100%;
}

.templateFirst .main__box {
	display: inline-block;
	max-width: 310px;
	word-wrap: break-word;
	margin: 62px auto 5px auto;
	padding: 11px 25px 16px 25px;
	border: 2px solid #333;
	position: relative;
	align-items: center;
	text-align: center;
}

.templateFirst .main__name {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 22px;
	letter-spacing: 0.15em;
	color: #242732;
	text-transform: uppercase;
}

.templateFirst .main__name span {
	font-weight: 700;
}

.templateFirst .main__prof {
	position: absolute;
	display: inline-block;
	white-space: nowrap;
	padding: 0 5px;
	background-color: white;
	bottom: -5px;
	right: 50%;
	transform: translateX(50%);
	font-size: 10px;
}

.templateFirst .block {
	margin: 25px 0px 0px 0px;
	padding: 0px 58px 0px 50px;
}

.templateFirst .block h2 {
	font-weight: bold;
	font-size: 13px;
	letter-spacing: 0.15em;
	text-transform: uppercase;
	color: #242732;
}

.templateFirst .block__descr {
	margin: 3px 0px 0px 0px;
	font-style: italic;
	font-weight: normal;
	font-size: 9px;
	letter-spacing: 0.03em;
	color: #4F4F4F;
	line-height: 178%;
}
.templateFirst .block__column {
	margin: 25px 0px 0px 0px;
}
.templateFirst .column h3 {
	font-weight: 500;
	font-size: 13px;
	letter-spacing: 0.05em;
}
.templateFirst .column__line {
	margin: 6px 0px 0px 0px;
	display: flex;
	justify-content: space-between;
	align-self: flex-start;
}

.templateFirst .column__line p {
	font-style: italic;
	font-weight: 500;
	font-size: 9px;
	letter-spacing: 0.03em;
	color: #999999;
}
.templateFirst .column__line p > span {
	color: inherit;
	margin: 0px 0px 0px 3px;
}
.templateFirst .column__descr {
	margin: 6px 0px 0px 0px;
	font-size: 9px;
	line-height: 16px;
	color: #666666;
	letter-spacing: 0.03em;
}