
body {
	margin: 0;	
	padding: 0 !important;
}
.css-mhc70k-MuiGrid-root>.MuiGrid-item {
	padding: 0 !important;
}
.css-1brxjso-MuiGrid-root {
	overflow: hidden;
}
/*@media print {

	@page {
		margin: 2cm !important;
	}
	.MuiPaper-elevation {
		box-shadow: none !important;
	}
	.css-i9gxme {
		display: none !important;
	}
	.css-vttidz {
		padding: 0 !important;
	}
	h2, h3, .column__line, .main__block .block, .skills__wrapper {
		page-break-inside: avoid !important;
	}
}*/
@media (max-width: 680px){
	.css-1ykdma4 {
		max-width: calc(100vw - 60px) !important;
		overflow: scroll;
	}
}